body{
    background-color:white;
    color: rgb(100, 3, 3);

}
h1{
    color: rgb(255, 0, 0);
    font-style: ;
    font-family: ;
    font-size: ;
    text-align: center;
}
h2{
    color: ;
    font-size: ;
    font-style: ;
    
}