table{
    width: 30%;
}
tr{
    height:50% ;
}


.a1{
    background-color: #FF6400;
}
.a2{
    background-color: #FF3C00;
}
.a3{
    background-color: #FF2800;
}
.a4{
    background-color: #FF0000;
}
.a5{
    background-color: #FF1400;
}
.a6{
    background-color: #FF5000;
}
.b1{
    background-color: #FFA500;
}
.b2{
    background-color: #FF9900;
}
.b3{
    background-color: #FF8C00;
}
.c1{
    background-color: #FFFF99;
}
.c2{
    background-color: #FFCC66;
}
.d1{
    background-color: #FFFFCC;
}
.e1{
    background-color: #B4C8FF;
}
.e2{
    background-color: #DCF0FF;
}
.e3{
    background-color:#F0FFFF ;   
}
.e4{
    background-color: #FFFFFF;
}
.e5{
    background-color: #FFFFCC;
}
.e6{
    background-color: #C8DCFF;
}
.f1{
    background-color: #7474FF;
}
.f2{
    background-color: #9494FF;
}
.f3{
    background-color: #8282FF;
}
.f4{
    background-color: #B0B0FF;
}
.f5{
    background-color: #4646FF;
}
.g1{
    background-color: #508CFF;
}
.g2{
    background-color: #A0C8F0;
}
.h1{
    background-color: #A89F73;
}
.h2{
    background-color: #B3A973;
}
.h3{
    background-color: #BEB271;
}
.h4{
    background-color: #C9BB6D;
}
.h5{
    background-color:#D3C368 ;
}
.h6{
    background-color: #DCCB61;
}
.h7{
    background-color:#E5D357 ;
}