body{
    background-color:white;
    color: rgb(100, 3, 3);

}
header{
    background: rgba(0,0,0,0,7);
    width: 100%;

}
nav{
    float:left;
    text-align: center;
    width: 100%;
    background-color: #ff0000;
}
nav ul{
    list-style: none;
    overflow: hidden;
}
nav ul li{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
nav ul li a{
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
}
nav ul li:hover{
    background: white;
    text-decoration-color:rgb(255, 0, 0)
}
/*https://keepcoding.io/blog/como-hacer-un-menu-de-navegacion-en-html/*/
.titulo{
    position: relative;
    display: inline-block;
    text-align: center;
}
.h1{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-style: ;
    font-family: ;
    font-size:3cm;
    text-align: center;
}
h2{
    color: ;
    font-size: ;
    font-style: ;
    
}