table{
    width: 30%;
    border-spacing: 1px ;
}
tr{
    height:35% ;
}
td, th{
    text-align: justify;
    padding: 1rem;
    border-bottom: 1rem, solid, #ddd;
    color: white;
    border: 2px solid white;
}
th{
    background-color: #6a96e4ad;
}
.a1{
    background-color: #f87e2d;
}
.a2{
    background-color: #d43404;
}
.a3{
    background-color: #ff2600da;
}
.a4{
    background-color: #FF0000;
}
.a5{
    background-color: #a81406;
}
.a6{
    background-color: #FF5000;
}
.b1{
    background-color: #df9100;
}
.b2{
    background-color: #FF9900;
}
.b3{
    background-color: #FF8C00;
}
.c1{
    background-color: #e7e719;
}
.c2{
    background-color: #FFCC66;
}
.d1{
    background-color: #eeee57;
}
.e1{
    background-color: #829adb;
}
.e2{
    background-color: #DCF0FF;
}
.e3{
    background-color:#c3f0f0 ;   
}
.e4{
    background-color: #e9abab;
}
.e5{
    background-color: #e6e68b;
}
.e6{
    background-color: #C8DCFF;
}
.f1{
    background-color: #7474FF;
}
.f2{
    background-color: #9494FF;
}
.f3{
    background-color: #8282FF;
}
.f4{
    background-color: #B0B0FF;
}
.f5{
    background-color: #4646FF;
}
.g1{
    background-color: #508CFF;
}
.g2{
    background-color: #A0C8F0;
}
.h1{
    background-color: #A89F73;
}
.h2{
    background-color: #B3A973;
}
.h3{
    background-color: #BEB271;
}
.h4{
    background-color: #C9BB6D;
}
.h5{
    background-color:#D3C368 ;
}
.h6{
    background-color: #DCCB61;
}
.h7{
    background-color:#E5D357 ;
}