table{
    width: 10%;
    height: 10%;
    border-spacing: 1px ;
    margin-left: 15%;
    text-align:center;
    font-size:90%;
    position:static;
}
caption{
    font-size: 20px;
    font-weight: bold;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
tr{
    height:35% ;
}
td, th{
    text-align: justify;
    padding: 1rem;
    border-bottom: 1rem, solid, #ddd;
    color: white;
    border: 2px solid white;
    font-weight: normal;
}
thead th{
    background-color: #5c9610ad;
}
tbody th{
    background-color: #8fd82fad;
}
.a1{
    background-color: #f87e2d;
}
.a2{
    background-color: #d43404;
}
.a3{
    background-color: #ff2600da;
}
.a4{
    background-color: #FF0000;
}
.a5{
    background-color: #a81406;
}
.a6{
    background-color: #FF5000;
}
.b1{
    background-color: #df9100;
}
.b2{
    background-color: #FF9900;
}
.b3{
    background-color: #FF8C00;
}
.c1{
    background-color: #e7e719;
}
.c2{
    background-color: #FFCC66;
}
.d1{
    background-color: #eeee57;
}
.e1{
    background-color: #829adb;
}
.e2{
    background-color: #b5ddfc;
}
.e3{
    background-color:#a3e0e0 ;   
}
.e4{
    background-color: #e9abab;
}
.e5{
    background-color: #e6e68b;
}
.e6{
    background-color: #a5b8d8;
}
.f1{
    background-color: #7474FF;
}
.f2{
    background-color: #9494FF;
}
.f3{
    background-color: #8282FF;
}
.f4{
    background-color: #B0B0FF;
}
.f5{
    background-color: #4646FF;
}
.g1{
    background-color: #508CFF;
}
.g2{
    background-color: #94bee9;
}
.i1{
    background-color: #A89F73;
}
.i2{
    background-color: #B3A973;
}
.i3{
    background-color: #BEB271;
}
.i4{
    background-color: #C9BB6D;
}
.i5{
    background-color:#D3C368 ;
}
.i6{
    background-color: #DCCB61;
}
.i7{
    background-color:#E5D357 ;
}